- if @restaurants.empty?
  %h1 No restaurants yet!
- else
  - @restaurants.each do |rest|
    %ul
      %h2= link_to rest.name, restaurant_path(rest)
      %h4 Average rating: #{rest.average_rating}
      %p= image_tag rest.image.url(:thumb)
      - if user_signed_in?
        = link_to "Review #{rest.name}", new_restaurant_review_path(rest)
        - if current_user.id == rest.user_id
          = link_to "Edit #{rest.name}", edit_restaurant_path(rest)
          = link_to "Delete #{rest.name}", restaurant_path(rest), method: :delete
      - rest.reviews.each do |review|
        %li
          %p= review.thoughts
          %p= review.rating
          -# not using JS:
          -# %p= link_to "Endorse Review", review_endorsements_path(review), method: :post
          -# = pluralize(review.endorsements.count, 'endorsement')
          %p= link_to "Endorse Review", review_endorsements_path(review), class: 'endorsements-link'
          %span.endorsements_count= review.endorsements.count
          = 'endorsement'.pluralize(review.endorsements.count)

%p=link_to "Add a restaurant", new_restaurant_path
